<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="utf-8">
    <title>Hyper News Portal</title>
</head>
<body>
    <h2>Hyper news</h2>
    <form action="/news/" method="get">
      {% csrf_token %}
      <input class="search" name="q"><br><br>
      <button type="submit">Search News</button>
    </form>
    {% for key, value in sorted_dict.items %}
        <h4>{{ key }}</h4>
        <ul>
           {% for news in value %}
           <li>
               <a target="_blank" href="/news/{{news.link}}/">{{ news.title }}</a></br>
           </li>
           {% endfor %}
        </ul>
    {% endfor %}
    <a href="/news/create/">Create News</a>
</body>
</html>
